:css
  header {
    display: none;
  }

  .app-banner {
    display: none;
  }

  footer {
    display: none;
  }

.create-phone

  .header

    .header__left
      = link_to root_path do
        =image_tag asset_path ("material/logo/logo.png")

    .header__right
      .header__right__top
        %ol
          %li 会員情報
          %li 電話番号認証
          %li.red 完了

      .header__right__bottom
        .header__right__bottom__dot
          .dot1
          .dot2 
          .dot3 

  .main
    .main__content
      .main__content__title
        %p 完了
      .main__content__form
        .main__content__form__group
          %p  ありがとうございます。
          %p  会員登録が完了しました。

        .main__content__form__group
          = link_to "メルカリをはじめる", root_path

  .registration-footer       
    = render "devise/registrations/registration-footer"