.main
  .main__mypage
    = render "shared/mypage-nav"
    .mypage-cards
      .mypage-cards__head
        支払い方法
      .mypage-cards__inner
        .mypage-cards__inner__head
          登録クレジットカード情報
          - if @card.present?
            カード１
            %button "削除する"
          - else
            .mypage-cards__inner__add-card
              .mypage-cards__inner__add-card__content
                = link_to "#" do
                  %i.fas.fa-credit-card
                  %p クレジットカードを追加する
            .mypage-cards__inner__method-pay
              = link_to "#" do
                %p 支払い方法について
                %i.fas.fa-chevron-right