.main
  .main__mypage
    = render "shared/mypage-nav"
    .mypage-content
      .mypage-user
        .mypage-user__icon
          = image_tag asset_path ("material/icon/member_photo_noimage_thumb.png"), class: 'mypage-user__icon__image'
          .mypage-user__icon__nickname
            = current_user.nickname
          .mypage-user__icon__number
            .mypage-user__icon__number__evaluation
              評価
              0
            .mypage-user__icon__number__exhibition
              出品数
              0
      .mypage-tab-container-notification-todo
        .mypage-tabs
          .mypage-tabs__notice
            お知らせ
          .mypage-tabs__todo
            やることリスト
        .mypage-tabs-content
          現在やることはありません

      .mypage-tab-container
        .mypage-tab-head
          購入した商品
        .mypage-tabs
          .mypage-tabs__trading
            取引中
          .mypage-tabs__traded
            過去の取引
        .mypage-tabs-content
          現在取引中の商品はありません
