.main
  .main__mypage
    = render "shared/mypage-nav"
    .mypage-signout
      .mypage-signout__form
        .mypage-signout__form__content
          .mypage-signout__form__content__btn
            = link_to "ログアウト", '#'



