.buy-contents {
  background-color: whitesmoke;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0 0 220px;
  text-align: center;
}

.buy-header {
  position: relative;
  height: 128px;
  width: 100%;
}

h1 {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.buy-main {
  height: calc(100% - 130px);
  width: 100%;
  display: block;
}

.buy-main__item {
  background-color: white;
  height: 100%;
  width: 700px;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  padding: 32px;
}

.buy-main__item__main {
  border-top: 1px solid #f5f5f5;
  padding: 32px 16px;
  width: calc(100% - 32px);
}

.buy-main__item__inner {
    max-width: 343px;
    margin: 0 auto;
  }

.buy-main__item__box {
  display: flex;
}


h3 {
  font-size: 22px;
  height: 80px;
  width: 80px;
}

.buy-main__item__detail {
  margin-left: 16px;
  &__name {
    font-size: 14px;
    margin: 0;
    padding: 0 0 8px;
    line-height: 1.5;
    text-align: left;
  }
}

span {
  font-size: 12px;
  font-weight: bold;
}


.buy-main__item__content {
  border-top: 1px solid #f5f5f5;
  padding-bottom: 48px;
  height: 80px;
  &__inner {
    max-width: 343px;
    margin: 0 auto;
    padding: 50px 0;
  }
}

.buy-price {
  display: table;
  width: 100%;
  &__label {
    float: left;
    font-size: 20px;
    padding-right: 100px;
    font-weight: bold;
  }
  &__cell {
    font-size: 24px;
    font-weight: bold;
  }
}

.buy-main__item__info {
  border-top: 1px solid #f5f5f5;
  padding: 117px 0;
}

.buy-btn {
  border: 1px solid #ea352b;
  background-color: #ea352b;
  color: #f5f5f5;
  display: block;
  width: 343px;
  line-height: 48px;
  font-size: 14px;
  margin: 0 auto;
  font-weight: bold;
}

a{
  text-decoration: none;
}

.buy-footer {
  height: 140px;
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  font-size: 12px;
  padding: 0 0 0 16px;
}

.footer-icon {
  margin: 40px 0 auto;
  vertical-align: middle;
}