footer {
  padding: 60px 0;
  color: white;
  background-color: #272727;
  text-align: center;
  font-family: YuGothic;
  position: relative;

  ul.contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    li.content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      h2 {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        font-size: 12px;

        li {
          margin: 10px;

          a {
            cursor: pointer;
          }

          a:hover {
            border-bottom-style: solid;
            border-bottom-color: white;
            border-bottom-width: 0.5px;
          }
        }
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;

    img {
      width: 160px;
    }
  }
  .footer__text {
    font-size: 14px;
  }

  .exhibition-btn {
    background-color: #3ccace;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 4%;
    position: relative;
    position: absolute;
    bottom: 32px;
    right: 32px;
    position: fixed;
    
    
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      text-decoration: none;
      color: white;
      padding-top: 15px;
    }

    img {
      margin-top: 28px;
    }
  }
}