.category {
  background-color: #f8f8f8;

  &__header {
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background-color: white;

    ul {
      display: flex;
      padding: 15px 200px;
      border-top: 1px solid #eee;

      li {
        font-size: 14px;
        padding-right: 10px;

        a {
          text-decoration: none;
          color: #555;
        }
      }
    }
  }

  &__main {
    padding: 60px 0;
    width: 700px;
    margin: auto;

    &__title {
      height: 60px;
      width: 700px;
      background-color: #3ccace;
      border-radius: 5px 5px 0 0;
    }

    h2 {
      color: white;
      font-weight: bold;
      font-size: 22px;
      line-height: 60px;
      text-align: center;
    }

    &__lists {
      width: 700px;
      height: 100%;
      padding: 20px 0;
      margin: auto;
      display: flex;

      .card {
        width: 220px;
        background-color: white;
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #000;
          width: 220px;
        }

        &__image {
          width: 220px;
          height: 330px;

          img {
            width: 220px;
            height: 220px;
          }

          &__text {
            padding: 15px;

            &__middle {
              display: flex; 
              justify-content: space-between;
              font-size: 16px;

              &__price {
                display: flex;
              }

              &__like {
                display: flex;

                .number {
                  margin-left: 3px;
                }
              }
            }

            &__tax {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
