.mypage {
  width: 1020px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.mypage-nav {
  width: 280px;

  &__list {

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 48px;
      text-decoration: none;
      color: black;

    }
  }
}