.wrapper 
  .buy-contents
    .buy-header
      = render '/layout/header'
    .buy-main
      %section.buy-main__item
        %h2.buy-main__item__head
          購入内容の確認
        %section.buy-main__item__main
          .buy-main__item__inner
            .buy-main__item__box
              %h3.buy-main__item__image
                = image_tag('test_image.jpg', alt: 'item', height: '80px', width: '80px', class: 'item-image')
              .buy-main__item__detail
                %p.buy-main__item__detail__name
                  猫の写真
                %p.buy-main__item__detail__price
                  %span ¥300
                  %span.shipping-fee
                    (税込) 送料込み
        %section.buy-main__item__content
          .buy-main__item__content__inner
            %ul.buy-price
              %li.buy-price__label
                支払い金額
              %li.buy-price__cell
                ¥300
        %section.buy-main__item__info
          = link_to button_tag('購入する', type: 'submit', class: 'buy-btn')
    .buy-footer
      = render '/layout/footer'