%ul.contents
  %li.content
    %h2 
      FURIMAについて
    %ul
      %li
        %a 会社概要 (運営会社)
      %li
        %a プライバシーポリシー
      %li
        %a FURIMA利用規約
      %li
        %a ポイントに関する特約
  %li.content
    %h2 
      FURIMAを見る
    %ul
      %li
        %a カテゴリー一覧
      %li
        %a ブランド一覧
  %li.content
    %h2 
      ヘルプ&ガイド
    %ul
      %li
        %a FURIMAガイド
      %li
        %a FURIMAロゴ利用ガイドライン
      %li
        %a お知らせ
.footer__logo
  %a{:href => "/"}
    = image_tag src ="/assets/material/logo/logo-white.png"
%p.footer__text @FURIMA            


.exhibition-btn
  = link_to "出品する", "#"
  = image_tag src="/assets/material/icon/icon_camera.png", width: "60"
      
    
